/* Dracula — dark variant */
/* https://github.com/dracula/dracula-theme */
:root,
.markdown-body,
[data-theme="dark"],
[data-theme="light"] {
  --fgColor-default: #f8f8f2;
  --fgColor-muted: #6272a4;
  --fgColor-accent: #8be9fd;
  --bgColor-default: #282a36;
  --bgColor-muted: #44475a;
  --bgColor-neutral-muted: #44475a66;
  --bgColor-attention-muted: #f1fa8c26;
  --borderColor-default: #6272a4;
  --borderColor-muted: #44475a;
  --sheen-fg: #f8f8f2;
  --sheen-bg: #282a36;
  --sheen-bg-secondary: #21222c;
  --sheen-border: #6272a4;
  --alert-note: #8be9fd;
  --alert-tip: #50fa7b;
  --alert-important: #bd93f9;
  --alert-warning: #f1fa8c;
  --alert-caution: #ff5555;
}
