/* Catppuccin Latte — light variant */
/* https://github.com/catppuccin/catppuccin */
:root,
.markdown-body,
[data-theme="dark"],
[data-theme="light"] {
  --fgColor-default: #4c4f69;
  --fgColor-muted: #6c6f85;
  --fgColor-accent: #1e66f5;
  --bgColor-default: #eff1f5;
  --bgColor-muted: #ccd0da;
  --bgColor-neutral-muted: #ccd0da66;
  --bgColor-attention-muted: #df8e1d26;
  --borderColor-default: #9ca0b0;
  --borderColor-muted: #bcc0cc;
  --sheen-fg: #4c4f69;
  --sheen-bg: #eff1f5;
  --sheen-bg-secondary: #e6e9ef;
  /* --sheen-border: #9ca0b0; */
  --sheen-border: transparent;
  --alert-note: #1e66f5;
  --alert-tip: #40a02b;
  --alert-important: #8839ef;
  --alert-warning: #df8e1d;
  --alert-caution: #d20f39;
}
